body
  min-height 100%
input,
label,
select
  color dimgray

a
  text-decoration none
  color black
  font-weight bold
  &:hover
    text-decoration underline
h1
  border-bottom 1px solid slategray
  padding-bottom 10px
footer
  position fixed
  bottom 0
  left 15px
  right 15px
  width auto
  text-align right
  vertical-align bottom
  border-top: 1px solid slategray
  font-size small
  color dimgray
  & p
    line-height 1
    font-style italic
    & a,
    & i
      font-style normal
